.sticky-Filter{
    /* position: -webkit-sticky;
    position: sticky; */
    top: 4.0rem;
    z-index: 3;
    background-color: var(--color-white);

    .MuiExpansionPanel-rounded:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
  
    .MuiExpansionPanel-rounded:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &.visible-header-Filter{
      visibility: visible;
      opacity: 1;
      transition: opacity 1s;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
    }
    
    &.hidden-header-Filter{
      visibility: hidden;
      opacity: 0;
      height: 0px;
      transition: opacity 1s;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
    }
}

